html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



body {
    font-family: 'Playfair display';
    font-size: 14px;
    color: #626262;
    font-weight: 400;
    line-height: 24px;
}

.container {
    width: 910px;
    background-color: #ffffff;
    margin: 0 auto;
}

.type-words {
    font-family: 'Ubuntu';
    color: #c7c1b6;
    font-weight: 300;
}

.type-title {
    font-size: 30px;
}

nav {
    padding-top: 73px;
    padding-bottom: 108px;
    display: block;
}

.menu-title {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #626262;
}

nav a:hover {
    color: #03a9f4;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 124px;

}

nav li:last-child {
    margin-right: 0px;
}

.life-style-sections {
    margin: 0px;
    padding: 0px;
}

.life-style-sections li:nth-child(2n) {
    margin-right: 0;
}

section li {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 134px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.type-words {
    margin-bottom: 29px;
    font-size: 14px;
}

.type-title {
    margin: 0px;
    margin-bottom: 42px;
    font-size: 30px;
}

.words {
    font-size: 14px;
}

.life-style-sections li:nth-last-child(-n + 2) {
    margin-bottom: 55px;
}

.button-load {
    margin-left: 360px;
    padding: 20px 36px;
    border: 2px solid;
    border-color: #626262;
    font-size: 20px;
    color: #626262;
}
