.bkr-img {
    margin: 0 auto;
    padding: 0;
    background: url('../images/img/Background/1.png') center no-repeat;
    padding-top: 2px;
    padding-bottom: 100px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .bkr-img {
        background: url('../images/img/Background/Layer 15@2x.png') center no-repeat;
    }
}