.team {
  padding-top: 40px;
  padding-bottom: 20px;
}

.team--p1 {
  margin: 0 0 19px 0;
  padding: 0;
  font-family: 'Kaushan Script';
  font-weight: 400;
  font-size: 24px;
  color: $main-color-very-grey;
  text-align: center;
}

.team--h2 {
  margin: 0 0 105px 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: $main-color-very-grey;
  text-align: center;
}

.team--h2::after {
  display: block;
  content: '';
  margin: 0 auto;
  width: 61px;
  height: 4px;
  background-color: #f38181;
  text-align: center;
  margin-top: 39px;
}

.information {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  color: $main-color-grey;
  width: 944px;
  text-align: center;
  margin-bottom: 90px;
}

.catalog {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}



.team_list {
  list-style: none;
  position: relative;
  z-index: 11;
}

.team-character {
  margin: 0;
  padding: 0;
  text-align: center;
}

.name {
  margin: 0 0 13px 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: $main-color-very-grey;
}

.mens {
  margin: 0 0 15px 0;
  padding: 0;
}


.name-text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  color: $main-color-grey;
}

.team_list_hover {
  display: none;
  margin: 0;
  padding: 0;
  width: 380px;
  height: 470px;
 
  background: -webkit-linear-gradient(90deg, rgba(252, 227, 138, .7) 0%, rgba(243, 129, 129, .7) 100%);
 position: absolute;
  left: -15px;
  top: -14px;
  box-shadow: 15px 15px 0 rgb(149, 225, 211);
  font-size: 0;
  z-index: 111;
}

.team_list_hover_list {
  padding: 0;
  list-style: none;
  font-size: 0;
  width: 224px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 225px;
  left: 97px;
  display: flex;
  flex-flow: row;

}

.team_list {
  margin: 0;
  padding: 0;
  display: block;

}


.team_list_hover_link {
  display: block;
  border: solid 0.03px #f38181;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 12px 0px 5px 13px;
  fill: #f38181;
  background-color: #fce38a;
}

.team_list:hover .team_list_hover {
  display: block;
  transition: all .4s linear;
}

.team_list_hover_link:hover {
  background-color: #f38181;
  fill: #ffffff;
  transition: all .4s linear;
}

.team_list:hover .mens {
    transform: translate(-15px, -15px);
    transition: all .2s linear;

}

.test {
  width: 28px;
  height: 30px;
}
